# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Go workspace file
go.work
go.work.sum

# Claude Code settings
.claude/
docs/superpowers/
CLAUDE.local.md

# git worktrees
.worktrees/

# dev things
dev/certs/

# build things
./proxy
dist/
